<header class="nav-bar">
    <div class="nav-content">
        <a class="logo-link" href="{{ url_for('index') }}">
            <div class="nav-logo">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="MLH Fellowship logo">
            </div>
        </a>

        <nav class="nav-links">
            {% for link in nav_links %}
                <a class="nav-link {% if active_page == link.endpoint %}nav-link-active{% endif %}"
                   href="{{ url_for(link.endpoint) }}">
                    {{ link.name }}
                </a>
            {% endfor %}
        </nav>
    </div>
</header>